/* */
@import "../colors.css";
@import "../base.css";

.card {
    /*-fx-border-width: 2px;*/
    /*-fx-border-radius: 5px;*/
}

.inner-card {
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: -color-surface;
}

.card-content-header {
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-primary-text;
    /*-fx-background-radius: 1px;*/
    -fx-hgap: 20px;
    /*-fx-padding: 40px;*/
    -fx-font-size: 18px;
    -fx-background-radius: 50px 50px 0px 0px;
}

.card-stuff {
    -fx-background-color: -color-surface !important;
    -fx-max-width: 800px !important;
    -fx-max-height: 800px;
    -fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-radius: 50px;

    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}