/* Map - Info Pane Styling */
@import "base.css";

/* Custom */

#info-pane {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #00000000;
}

.inner-pane {
    -fx-background-color: -color-primary-text;
    -fx-border-color: #b5b5b5;
    -fx-border-radius: 2px;
}

.icon {
    -fx-scale-x: 0.075;
    -fx-scale-y: 0.075;
    -fx-scale-z: 0.075;
    -fx-fill: -color-primary;
}

.tab:selected .icon {
    -fx-fill: -color-primary-dark;
}

/* Default Overrides */

.tab-header-background {
    -fx-background-color: #00000000;
}
