/* Map - Info Pane Styling */
@import "base.css";

/* Custom */

.icon {
    -fx-scale-x: 0.075;
    -fx-scale-y: 0.075;
    -fx-scale-z: 0.075;
    -fx-fill: -color-primary;
}

.tab {
    -fx-pref-width: 80px;
    -fx-max-width: 80px;
    -fx-padding: 0 10 0 0;
}

.tab:selected .icon {
    -fx-fill: -color-primary-dark;
}

.button {
    -fx-spacing: 20px;
}

.info-inner-card {
     -fx-background-radius: 0 50 50 0;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
     -fx-background-color: -color-surface;
 }

.vbox-container {
    -fx-background-radius: 50 50 50 50;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

/* Default Overrides */

.tab-header-background {
    -fx-background-color: -color-primary;
    -fx-background-radius: 10px 10px 0px 0px;
}

.tab-header-area {
    -fx-padding: 70 0 0 0;
}

.button:selected {
    -fx-background-color: -color-secondary;
}



