@import "base.css";

.map {
    -fx-background-color: rgba(255, 253, 253, 0.79) !important;
    -fx-max-width: 800px !important;
    -fx-max-height: 800px;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-radius: 50px;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.page-container {
    -fx-background-color: -color-surface !important;
    -fx-max-width: 800px !important;
    -fx-max-height: 800px;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-radius: 50px;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

/* Locations button styling */
.button {
    -fx-max-width: 115px;
    -fx-pref-height: 30px;
}

.vbox {
    -fx-spacing: 5px;
}
