@import "base.css";

/* Location Node */
.location-node {
    -fx-fill: -color-secondary;
    -fx-cursor: hand;
}

.location-node:hover {
    -fx-fill: -color-secondary-light;
}

.location-node.active {
    -fx-fill: -color-secondary-dark;
}

/* Medical Equipment Node */
.medical-equipment-node {
    -fx-fill: #444444;
}

.medical-equipment-arrow {
    -fx-fill: white;
    -fx-cursor: hand;
}

.medical-equipment-arrow:hover {
    -fx-fill: #adadad;
}

.medical-equipment-arrow:disabled {
    -fx-fill: rgba(255, 255, 255, 0.25);
    -fx-stroke: rgba(0, 0, 0, 0.25);
}

/* Service Request Node */
.service-request-node {
    -fx-fill: -color-primary-light;
}

/* Counters */
.service-request-counter {
    -fx-fill: -color-primary-light;
}

.medical-equipment-counter {
    -fx-fill: -color-red-contrast;
}

/* General */
.inactive {
    -fx-scale-x: .85;
    -fx-scale-y: .85;
    -fx-opacity: .5;
}

.inactive > .node {
    -fx-fill: gray;
}