@import "../default.css";

.map-container {
    -fx-cursor: hand;
}

.button-file-select {
    -fx-background-color: -color-secondary;
    -fx-font-size: 12px;
}

.floor{
    -fx-background-color: -color-background;
    -fx-background-radius: 5px;
    -fx-text-fill: -color-primary-dark;
    -fx-border-color: -color-secondary-dark;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-font-size: 16px;
}

.floor:hover{
    -fx-background-color:-color-secondary-light !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 0, 0, 0);
}

.mfx-button .mfx-ripple-generator{
    /*-mfx-ripple-radius: 16px;*/
    -mfx-auto-clip: true;
}

.delete{
    -fx-background-color: #f44336;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.floor-label{
    -fx-background-color: #005A9B;
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-text-fill: #FFFFFF;
}
.description-box{
    -fx-background-radius: 20px;
    -fx-background-color: #F0F0F0;
}
.floor-box{
    -fx-background-radius: 44px 44px 44px 44px;
    -fx-background-color: #F0F0F0;
    -fx-padding: 20 20 20 20;
    -fx-alignment: center;
}

.edit-button{
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-primary-text;
}

.jfx-text-area {
    -fx-border-color: -color-primary;
    -fx-border-radius: 5px;
    -fx-gap-start-and-end: 5;
}

.jfx-text-area .prompt-container{
    visibility: falseadmin;
}

.jfx-text-area .input-focus-line{
    -fx-stroke: transparent;
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.jfx-text-area .input-line{
    -fx-stroke: transparent;
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.jfx-text-area .text-field {
    -fx-background-color: transparent;
}

.jfx-text-area .floating-text {
    -fx-text-fill: -color-primary;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 3px;
}
.tooltip{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-opacity: 80%;
    -fx-stroke: -color-primary;
    -fx-stroke-width: 1;
    -fx-font-size: 15;
}
-page-container{
    -fx-max-height: 200;
    -fx-max-width: 200;
}
.image-view{
    -fx-cursor: hand;
}