.login-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 200px;
    top: calc(50% - 24px/2);
}

.exit-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: calc(50% - 24px/2);
}