.label-login-username {
    position: absolute;
    width: 103px;
    height: 26px;
    left: 601px;
    top: 310px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    letter-spacing: 0.1px;

    color: #000000;
}

.label-login-password {
    position: absolute;
    width: 103px;
    height: 26px;
    left: 601px;
    top: 413px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    letter-spacing: 0.1px;

    color: #000000;

}