@import "../colors.css";
@import "../default.css";

/* CUSTOM */
/* Mass. General Brigham label */
.top-label {
    -fx-rotate: -90;
    -fx-wrap-text: false;
    -fx-font-size: 18px;
    -fx-font-family: "Roboto";
    -fx-fill: -color-primary-text;
}

/* Container containing both the text and logo of the hospital */
.logo-container {
    -fx-background-color: -color-primary-dark;
}

/* DEFAULT OVERRIDES */

/* Override button styling */
.button {
    -fx-background-color: -color-primary-light;
    -fx-text-fill: -color-secondary-text;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-font-size: 12pt;
}

.button:hover {
    -fx-background-color: -color-primary;
}

/* Sets ripple color for the button */
.mfx-button .mfx-ripple-generator {
    -mfx-ripple-color: -color-primary-light;
    -mfx-ripple-opacity: .5;
}

/* Sets all spacing between components within all vboxes */
.vbox {
    -fx-spacing: 5px;
    -fx-padding: 5px;
}

/* Sets the background color of the drawer */
.jfx-drawer {
    -fx-background-color: -color-surface;
}
