@import "../default.css";

.button {
    -fx-text-fill: -color-secondary-text;
}

#title {
    -fx-text-fill: -color-primary-text;
    -fx-background-color: -color-primary-dark;
}

.grid-pane-fields {
    -fx-background-color: white;
}

.login-button {
    /* Box */
    -fx-background-color: -color-primary-light;
    -fx-border-radius: 4px;
}

/* Inlay background image in title */
.grid-pane {
    -fx-background-image: url("../../static/images/BrighamandWomensResized.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: left center;
}

.toggle-button-background {
    -fx-background-color: -color-primary-light;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 90, 155), 1 , 0.1 , 0 , 2);
    -fx-border-color: -color-primary-light;
}
