@import "../default.css";

.title {
    -fx-text-fill: -color-primary-text;
    -fx-background-color: -color-primary-dark;
}

.grid-pane-fields {
    -fx-background-color: white;
}

.login-button {
    /* Box */
    -fx-background-color: -color-primary-light;
    -fx-border-radius: 4px;
}

/* Inlay background image in title */
.picture-box {
    -fx-background-image: url("../../static/images/BrighamAndWomens.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: left center;
}

.toggle-button-background {
    -fx-background-color: -color-primary-light;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 90, 155), 1 , 0.1 , 0 , 2);
    -fx-border-color: -color-primary-light;
}

.cancel-button {
    -fx-text-fill: black;
}

#error-box {
    -fx-padding: 10px;
}

#fields {
    -fx-padding: 20 100 20 100;
    -fx-spacing: 10px;
}

#buttons {
    -fx-spacing: 50px;
}

#invalid-label {
    -fx-text-fill: -color-black;
    -fx-background-color: rgba(255, 174, 174, 0.5);
    -fx-border-radius: 11px;
}