@import "../colors.css";
@import "../default.css";

.label {
    -fx-opacity: 85%;
}

.page-container {
    /*-fx-padding: 10px;*/
}

.page-container-title {
    -fx-pref-height: 30px;
}

.page-padding {
    -fx-padding: 20px;
    -fx-spacing: 30px;
}


/* region Custom SR Styling */
.service-request-card {
    -fx-background-color: gray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-cursor: hand;
}

.service-request-card-text {
    -fx-background-color: -color-surface;
    -fx-padding: 10 10 10 10;
}

.service-request-card-name {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
}

.service-request-container {
    -fx-padding: 7px;
    -fx-spacing: 15px;
    -fx-background-radius: 0 0 20 20;
}
/* endregion */

.show-button {
    -fx-padding: 10px;
}

-scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(to bottom, -color-primary, -color-primary-light);;
}

.scroll-bar .track-background:vertical {
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

/* Card Images */
#patient-transport {
    -fx-background-image: url("../../static/images/card-images/patient-transport.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: #d5fef6;
}

#translator {
    -fx-background-image: url("../../static/images/card-images/translator.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

#medicine-delivery {
    -fx-background-image: url("../../static/images/card-images/medicine-delivery.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: white;
}

#facility-maintenance {
    -fx-background-image: url("../../static/images/card-images/facility-maintenance.jpeg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

#medical-equipment {
    -fx-background-image: url("../../static/images/card-images/medical-equipment.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: #aaddf3;
}

#security {
    -fx-background-image: url("../../static/images/card-images/security.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

#laundry {
    -fx-background-image: url("../../static/images/card-images/laundry.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: linear-gradient(to bottom, #c3b8b4, #b2a7a3);
}

#lab-system {
    -fx-background-image: url("../../static/images/card-images/lab-system.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

#delivery-system {
    -fx-background-image: url("../../static/images/card-images/delivery-system.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: #5795cc;
}

#sanitation {
    -fx-background-image: url("../../static/images/card-images/sanitation.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: white;
}

#external-transport {
    -fx-background-image: url("../../static/images/card-images/external-transport.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: white;
}