.button-login {
    position: absolute;
    height: 18px;
    left: 17px;
    right: 87px;
    top: calc(50% - 18px / 2);

    /* Subtitle 2 - med 14 (21px, 0.1px) */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    letter-spacing: 0.1px;

    color: #000000;

    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    bottom: 0px;

    background: #D7E5EF;
    border-radius: 4px;
}

.button-exit {
    position: absolute;
    height: 18px;
    left: 72px;
    right: 32px;
    top: calc(50% - 18px/2);

    /* Subtitle 2 - med 14 (21px, 0.1px) */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    letter-spacing: 0.1px;

    color: #000000;

    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    bottom: 0px;

    background: #D7E5EF;
    border-radius: 4px;
}