@import "colors.css";
@import "fonts.css";

/* TODO: please god fix all of this */

/* Defaults for EVERYTHING */
.root * {
    /* Default Font */
    /*-fx-font-family: Roboto;*/
    /*-fx-font-size: 14px;*/
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /*-fx-min-height: 0px;*/
    /*-fx-min-width: 0px;*/
    /* Default Background Color */
    /*-fx-background-color: -color-page-background;*/
}

.root {
    -fx-background-color: -color-background;
}

/* Default Button Style (applies to all button types) */
.button {

}

.button:hover {
    -fx-background-color: -color-secondary-dark;
}

.button-success {
    -fx-background-color: -color-button-success;
    -fx-text-fill: -color-button-text;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.button-success:hover {
    -fx-background-color: -color-button-success-hover;
}

.button-failure {
    -fx-background-color: -color-button-failure !important;
    -fx-text-fill: -color-button-text;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.button-failure:hover {
    -fx-background-color: -color-button-failure-hover;
}

.button-back {
    -fx-text-fill: -color-secondary-text !important;
    -fx-background-color: -color-secondary !important;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.button-back:hover {
    -fx-background-color: -color-button-back-hover;
}

.button-edit {
    -fx-text-fill: -color-button-text;
    -fx-background-color: -color-button-edit;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.button-edit:hover {
    -fx-background-color: -color-button-edit-hover;
}

/*
padding goes top, right, bottom, left
 */

.anchor-pane-margin {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
}

.text-field-with-margin {
    -fx-padding: 2px;
    -fx-border-insets: 5px;
    -fx-background-insets: 0px;
}

.box-margin {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.text-area-margin {
    -fx-padding: 0 0 5 0;
    -fx-border-insets: 2px;
    -fx-background-insets: 5px;
}

.textarea {
    -fx-background-color: -color-textarea;
    /*Check off wrap text property in SceneBuilder for now*/
}

.dropdown {
    -fx-background-color: -color-dropdown-menu;
}

.service-field-label {
    -fx-font-family: -font-field-label;
    -fx-font-size: 15;
}

.page-title {
    -fx-font-family: -font-field-label;
    -fx-font-weight: bold;
    -fx-font-size: 20 !important;
    -fx-padding: 10 0 0 8;

}

.button-back {
    -fx-text-fill: -color-button-text;
    -fx-background-color: -color-button-back;
    -fx-font-size: 15;
}

.textarea {
    -fx-background-color: -color-textarea;
    /*Check off wrap text property in SceneBuilder for now*/
}

.dropdown {
    -fx-background-color: -color-dropdown-menu;
}

.service-field-label {
    -fx-font-family: -font-field-label;
    -fx-font-size: 15;
}

.page-title {
    -fx-font-family: -font-field-label;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.home-page-button {
    -fx-background-color: -color-button-text;
    -fx-font-family: Inter;
    -fx-font-size: 17;
    -fx-opacity: .83;
}

.button-confirm {
    -fx-text-fill: -color-button-text;
    -fx-background-color: -color-button-confirm;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

/* Table Styling */
/**/
.tree-table-view {
    -fx-background-color: transparent;
}
/* Top right part of the table */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .label {
    -fx-text-fill: -color-primary-text;
}

.tree-table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, -color-primary, -color-primary-light);
    -fx-background-radius: 7px 7px 0px 0px;
    /* Insets header to the width of the scrollbar */
    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-style: none;
}
.table-view .table-column {
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.tree-table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -color-primary-light;
}
.tree-table-row-cell:odd{
    -fx-background-color: -color-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.tree-table-row-cell:even{
    -fx-background-color: -color-surface;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.tree-table-row-cell:selected {
    -fx-background-color: -color-primary-dark;
}
.tree-table-row-cell:selected .text {
    -fx-fill: -color-primary-text;
}


/* Table Scrollbar Styling */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

    /** Default Components **/
.text-field {
    -fx-background-color: -color-primary-text;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.combo-box {
    -fx-background-color: -color-primary-text;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 0, 0, 0);
}

.button {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 0, 0, 0);
    -fx-cursor: hand;
    -fx-background-color: -color-primary;
    -mfx-button-type: RAISED;
}

.button-create {
    -fx-background-color: -color-primary-light;
    -fx-text-fill: -color-button-text;
    -fx-font-size: 15;
    -fx-spacing: 5px;
}

.container {
    -fx-background-color: -color-surface !important;
    -fx-max-width: 800px !important;
    -fx-max-height: 800px;
    /*-fx-hgap: 20px;*/
    /*-fx-padding: 40px;*/

    -fx-background-radius: 50px;

    /*-fx-border-radius: 5px;*/
    /*-fx-border-width: 5px;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

