@import "colors.css";

.button-success {
    -fx-background-color: -color-button-success;
    -fx-text-fill: -color-button-text;
}

.button-failure {
    -fx-background-color: -color-button-failure;
    -fx-text-fill: -color-button-text;
}

/*
padding goes top, right, bottom, left
 */

.anchor-pane-margin {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
}

.text-field-with-margin {
    -fx-padding: 2px;
    -fx-border-insets: 5px;
    -fx-background-insets: 0px;
}

.vbox-margin {
    -fx-padding: 10px;
}

.label-margin {
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}
