* {
    -color-menu: #0077CC;
    -color-menu-dark: #00497C;
    -color-menu-light: #5199CD;
    -color-menu-text: #FFFFFF;

    -color-button-success: #00497C;
    -color-button-success-hover: #00327c;
    -color-button-failure: #951c1c;
    -color-button-failure-hover: #791717;
    -color-button-back: #898989;
    -color-button-back-hover: #696969;
    -color-button-edit: #197C00;
    -color-button-edit-hover: #155b00;
    -color-textarea: #F0F0F0;
    -color-dropdown-menu: #C4C4C4;
    -color-button-text: #FFFFFF;
    -color-button-confirm: #4CA336;



    /* UI Redesign Colors */
    /* Primary color */
    -color-primary: #005a9b;
    -color-primary-light: #4e86cc;
    -color-primary-dark: #00316c;
    -text-on-primary: #ffffff;

    /* Secondary color */
    -color-secondary: #b3edf0;
    -color-secondary-light: #e6ffff;
    -color-secondary-dark: #82bbbe;
    -text-on-secondary: #000000;

    -color-sidebar-button: #4e86cc;

}