* {
    -color-menu: #0077CC;
    -color-menu-dark: #00497C;
    -color-menu-light: #5199CD;
    -color-menu-text: #FFFFFF;

    -color-button-success: #00497C;
    -color-button-success-hover: #00327c;
    -color-button-failure: #951c1c;
    -color-button-failure-hover: #791717;
    -color-button-back: #898989;
    -color-button-back-hover: #696969;
    -color-button-edit: #197C00;
    -color-button-edit-hover: #155b00;
    -color-textarea: #F0F0F0;
    -color-dropdown-menu: #C4C4C4;
    -color-button-text: #FFFFFF;
    -color-button-confirm: #4CA336;
}