* {
    -color-menu: #0077CC;
    -color-menu-dark: #00497C;
    -color-menu-light: #5199CD;
    -color-menu-text: #FFFFFF;

    -color-button-success: #00497C;
    -color-button-failure: #D83C3C;
    -color-button-back: #898989;
    -color-textarea: #F0F0F0;
    -color-dropdown-menu: #C4C4C4;
    -color-button-text: #FFFFFF;
}