@import "base.css";
@import "colors.css";

.tab-pane {
    -fx-padding: 5px;
    -fx-background-color: #F6F6F6;
    /*fx-max-width: 750;*/
    -fx-alignment: right;
}


.tab-pane .tab {
    -fx-background-color: -color-unselected-tab;
    -fx-text-fill: black;

}



.tab-pane .tab:selected {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.mfx-table-view:top {

}