@import "base.css";
@import "colors.css";

.greeting-label {
    -fx-font: 20px "Roboto";
}

.tab-pane {
    -fx-padding: 5px;
    -fx-background-color: #F6F6F6;
    fx-max-width: 750px;
    -fx-alignment: right;
    -fx-border-radius: 10px;
    -fx-border-width:5px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 0, 0, 0);
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab {
    -fx-background-color: -color-unselected-tab;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected {
    -fx-background-color: -color-primary;
}

.tab .tab-label {
    -fx-text-fill: black;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
}

.page-container {
    -fx-border-radius: 4px;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-pref-width: 900px;
}



/* Table Styling */
/**/
.tree-table-view {
    -fx-background-color: transparent;
}
/* Top right part of the table */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .label {
    -fx-text-fill: -color-primary-text;
}

.tree-table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, -color-primary, -color-primary-light);
    -fx-background-radius: 7px 7px 0px 0px;
    /* Insets header to the width of the scrollbar */
    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-style: none;
}
.table-view .table-column {
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.tree-table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -color-primary-light;
}
.tree-table-row-cell:odd{
    -fx-background-color: -color-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.tree-table-row-cell:even{
    -fx-background-color: -color-surface;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.tree-table-row-cell:selected {
    -fx-background-color: -color-primary-dark;
}
.tree-table-row-cell:selected .text {
    -fx-fill: -color-primary-text;
}


/* Table Scrollbar Styling */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

