@import "base.css";
@import "colors.css";

.greeting-label {
    -fx-font: 20px "Roboto";
}

.tab-pane {
    -fx-padding: 5px;
    -fx-background-color: #F6F6F6;
    fx-max-width: 750px;
    -fx-alignment: right;
    -fx-border-radius: 10px;
    -fx-border-width:5px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 0, 0, 0);
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab {
    -fx-background-color: -color-unselected-tab;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected {
    -fx-background-color: -color-primary;
}

.tab .tab-label {
    -fx-text-fill: black;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
}

.container {
    -fx-border-radius: 4px;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-pref-width: 900px;
}


.jfx-tree-table-view {
    -fx-background-color: #F6F6F6;
    -fx-vertical-grid-lines-visible: true;
    -fx-padding: 32px;
    -fx-text-fill: -color-primary-text;
    -fx-wrap-text: true;
}

.jfx-tree-table-view .column-resize-line {
    -fx-fill: black;
}

/* Header label */
.jfx-tree-table-view .column-header .label {
    -fx-text-fill: -color-primary-text;
}

/* Styles the top right corner of the table */
.jfx-tree-table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* Styles the bottom right corner of the table b/w the scroll bars*/
.jfx-tree-table-view .corner {
    -fx-background-color: transparent;
}

/* TODO: Find a way to create lines separating all of the headers in the table itself, not just the header */
/* Styles the table header background */
.jfx-tree-table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, -color-primary, -color-primary-light);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.jfx-tree-table-view .table-cell{
    -fx-border-color: black;
    -fx-padding: 2 0 2 10px;
}

/* Styles the columns of the table*/
.jfx-tree-table-view .table-column {
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-wrap-text: true;
    -fx-padding: 16px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.tree-table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.tree-table-row-cell:even {
    -fx-background-color: #F6F6F6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


/* Table Scrollbar Styling */
.jfx-tree-table-view .virtual-flow .scroll-bar:vertical,
.jfx-tree-table-view .virtual-flow .scroll-bar:vertical .track,
.jfx-tree-table-view .virtual-flow .scroll-bar:vertical .track-background,
.jfx-tree-table-view .virtual-flow .scroll-bar:horizontal,
.jfx-tree-table-view .virtual-flow .scroll-bar:horizontal .track,
.jfx-tree-table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.jfx-tree-table-view .virtual-flow .scroll-bar .increment-button,
.jfx-tree-table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.jfx-tree-table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, -color-primary, -color-primary-light);
}
.jfx-tree-table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

