@import "colors.css";
@import "default.css";

.button {
    -fx-background-color: -color-primary-light;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.63), 1 , 0.1 , 0 , 4);
    -fx-text-fill: -color-primary-text;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: -color-primary;
}

.label-title {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4;
    -fx-text-fill: black;
    -fx-underline: true;
}