@import "colors.css";

.menu-bar {
    /* text size */
    -fx-font-size: 17px;

    /* spacing */
    -fx-spacing: 5px;
    -fx-padding: 5px;
    /* Toolbar color */
    -fx-background-color: -color-menu;
}

/* need to determine when a button is active */
.button-active {
    -fx-background-color: -color-menu-dark !important;
}

.button-inactive {
    -fx-background-color: -color-menu-light !important;
}

.button-inactive:hover {
    -fx-background-color: -color-menu-dark !important;
}