@import "colors.css";
@import "fonts.css";
@import "default.css";

#page {
    -fx-padding: 10px;
}

#text-box {
    -fx-spacing: 5px;
    -fx-padding: 10px;
}

#top-container {
    -fx-spacing: 100px;
}

#fields-container {
    -fx-spacing: 5px;
}

#greeting {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-spacing: 10px;
}

#field-label {
    -fx-spacing: 10px;
}

.card {
    -fx-padding: 20px;
}

.mfx-text-field {
    -fx-border-color: -color-primary;
}

.mfx-text-field .text-field {
    -fx-background-color: transparent;
}

.mfx-text-field .floating-text {
    -fx-text-fill: -color-primary;
}

.text-field {
    -fx-effect: none;
}

.button {
    -fx-text-fill: black;
}

.vb_class {
    -fx-background-color: -color-textarea;
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-background-radius: 15px;
}
.back_button{
    -fx-background-color:-color-textarea;
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-background-radius: 15px;
    -fx-text-fill: black;
}
.image-view{
    -fx-border-radius: 50px;
}

.mfx-password-field .text-field {
    -fx-background-color: transparent;
}

