@import "colors.css";
@import "fonts.css";

.button-alignment {
    -fx-spacing: 5px;
}

.error-message {
    -fx-text-fill: -color-button-failure;
    -fx-padding: 10px;
    -fx-font-size: 10;
    -fx-font-family: -font-field-label;
}

.page-title {
    -fx-background-color: -color-primary !important;
    -fx-text-fill: -color-primary-text;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-alignment: top-center;
    -fx-background-radius: 50, 50, 0, 0;
    -fx-border-radius: 50, 50, 0, 0;
    -fx-border-width: 5px;
}

.big-text {
    -fx-font-size: 18;
}