@import "colors.css";
@import "fonts.css";

.button-requests {
    -fx-background-color: -color-menu-light;
    text-indent: -9999px;
    -fx-opacity: 0.9;
    -fx-font-size: 1;
}

.text-field-service-names {
    -fx-font-family: -font-field-label;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4;
}

.text-field-our-names {
    -fx-font-family: -font-field-label;
    -fx-font-weight: regular;
    -fx-font-size: 12;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

