@import "colors.css";
@import "fonts.css";

.button-requests {
    -fx-background-color: -color-secondary-light;
    text-indent: -9999px;
    -fx-opacity: 0.85;
    -fx-font-size: 1;
    -fx-effect: dropshadow(three-pass-box  , rgba(0, 0, 0, 0.63), 1 , 0.1 , 0 , 2);
    -fx-border-color: #00316C;
    -fx-border-width: 1px;
}

.button-requests:hover {
    -fx-opacity: 1;
}

.label-service-names {
    -fx-font-family: Cambria;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4;
    -fx-text-fill: -color-primary-light;
    -fx-wrap-text: true;
    -fx-text-alignment: bottom_center;
    -fx-alignment: bottom_center;
}

.label-our-names {
    -fx-font-family: Inter;
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-alignment: top_center;
    -fx-wrap-text: true;
    -fx-padding: 4;
    -fx-text-fill: -color-primary-dark;
}

