@import "colors.css";

.button-format {
    display: flex;
    -fx-min-width: 239vw;
    -fx-max-width: 239vw;
    -fx-min-height: 40vw;
    -fx-max-height: 40vw;
    -fx-border-radius: 4vw;
    -fx-background-color: rgba(215, 229, 239, 1);
}