@import "../css/colors.css";

.toggle-button-background {
    -fx-background-color: -color-primary-light;
    -fx-effect: dropshadow(three-pass-box, -color-primary-light, 1 , 0.1 , 0 , 2);
    -fx-border-color: -color-primary-light;
}